html, body {
  background-color: grey;
  text-align: center;
}

#navbar {
  width: 50%;
  margin: 0 auto;
  border-radius:5px;
}

.table {
    width: 100%;
    text-align: center;
}

.table, th, td {
  border: 2px solid white;
}

label{
    font-weight: bold;
    font-size:30pt;
}